<%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track' => true %>

<h2 class='User_Header'> <%=@current_user.username%> Profile <h2>


<% if @current_user.admin %>
<h2> ADMIN </h2>
<%end%>


<% @page_title = "User | Profile" %>
<div class="profile_form">


  <div class="profile-nav">

  </div>

  <div class="my-account">

  	<div class="overview">


  	</div>


  </div>



</div>

