
<table border="1">
	<tr>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Mail</th>
	</tr>
	
	<% @all_users.each do |user| %>
		<tr>
    	<td> <a href="http://www.google.cl"><%= user.nombre%></a></td>
    	<td> <%= user.apellido%> </td>
    	<td> <%= user.email%> </td>
    	</tr>
	<% end %>
	
</table>
