/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  margin: 0 auto;
}
body {
  /* de altura 100% */
  margin: 0 auto;
  background: #FFFEF9;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}
main {
	background: #FFFEF9;
	width: 1000px;
	margin: 0 auto;
}



input.btn{
  width:160px;
  height:90px;
  border: 1px solid #ddd;
  background-color: #fc3;
  color: #403C3D;
  padding: 4px 12px;   
  -o-transition: background-color .2s ease-in; 
  -moz-transition: background-color .2s ease-in;
  -webkit-transition: background-color .2s ease-in; 
  transition: background-color .2s ease-in;
  margin-left:280px;
  margin-top:80px;
}


input.btn:hover{
  border-color:#CCFFCC  ;
  color:#CCFFCC ;
}
